/* Custom styles */
.st-emotion-cache-1y4p8pa {
    padding: 2rem 3rem;
}

.st-emotion-cache-1vbkxwb p {
    font-size: 1.1rem;
}

.stProgress > div > div > div > div {
    background-color: #4CAF50;
}

.st-bh {
    font-family: monospace;
}

.st-ae {
    background-color: #f0f2f6;
}
